*.class
.project
.classpath

# Package Files #
*.jar
*.war
*.ear

.settings/org.eclipse.core.resources.prefs
/target

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.m2e.core.prefs

src/.DS_Store
